if SHIELD_28SPLIT_LEFT || SHIELD_28SPLIT_REV2_LEFT

config ZMK_KEYBOARD_NAME
    default "28Split"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_28SPLIT_REV2_LEFT || SHIELD_28SPLIT_REV2_RIGHT

config ZMK_SPLIT
    default y

endif
